* {
    box-sizing: border-box;
}

.nav-bar {
    background-color: gray;
    padding: 2rem;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}